.list-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.list-group p{
  font-size: 10px;
}
.list-group button{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;    
    text-decoration: none;    
    font-size: 12px;
    height: 50px;
}