<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <title>ERM-FullStack</title>
</head>
<body>
  <div id="root">
        <code>Loading react app...</code>
  </div>
  
</body>
<!-- react Script -->
<script src="javascripts/build.js"></script>
</html>